.itemCard {
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;
    margin-bottom: 1vw;
    border: solid 2px black;
    border-radius: 10px;
}

.itemCard h2, .itemCard p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1vw;
    text-align: center;
    width: 15vw;
    font-weight: bold;
}

.itemImg {
    width: 7vw;
    height: 7vw;
    margin: auto;
}

.itemCard img {
    width: 6vw;
}

.verMas {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8vw;
    width: 3.5vw;
    margin: auto;
    outline: none;
    border-radius: 8px;
    background: none;
    cursor: pointer;
}

.verMas:hover {
    background-color: grey;
}