nav {
    display: flex;
    background-color: #7a2239;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vw;
    color: white;
    padding-left: 0.5vw;
    width: 11vw;
    cursor: pointer;
}

nav .menu {
    display: flex;
    margin: auto;
}

nav p {
    color: white;
    padding-left: 1.5vw;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9vw;
}